*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color: #242424;
}
.wrappper{
width: 650px;
min-height: 400px;
background-color: coral;
margin: 50px auto;
border-radius: 16px;
}
input{
width: 400px;
height: 45px;
border-radius: 6px;
background-color: #ffffff;
outline: none;
margin: 50px auto;
border:1px solid #232323;
padding: 15px;
font-size: 18px;

}