*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
  /* background: linear-gradient( to right , #f00, #0f0, #00f, #f0f); */
  animation: gradient-animation 5s infinite linear;
}

@keyframes gradient-animation {
  0% {
    background: linear-gradient( to right , #f00, #0f0, #00f, #f0f);
  }
  25% {
    background: linear-gradient( to right , #0f0, #00f, #f0f, #f00);
  }
  50% {
    background: linear-gradient( to right , #00f, #f0f, #f00, #0f0);
  }
  75% {
    background: linear-gradient( to right , #f0f, #f00, #0f0, #00f);
  }
  100% {
    background: linear-gradient( to right , #f00, #0f0, #00f, #f0f);
  }
}


p{
max-width: 600px;
height: 40px;
background-color: #999;
margin: auto;
padding: 10px;
position: relative;
margin-bottom: 15px;
border-radius: 4px;
white-space: nowrap;
overflow-x: hidden;
position: relative;
transition: all 1s;
/* animation: gradient-animation 5s infinite linear; */
}

.btnDelete{
  position: absolute;
right: 15px;
opacity: 0;
z-index: 100;
width: 40px;
height: 40px;
background-color: red;
color:#fff;
border-radius: 4px;
margin-right: -15px;
margin-top: -10px;
border:none;
}

p:hover .btnDelete{
opacity: 100;
transition: all 1s;
}

.wrappper{
width: 650px;
min-height: 200px;
background-color: #fff;
margin: 50px auto;
border-radius: 16px;
padding-bottom: 15px;
padding-top: 15px;
}

h1{
margin-left: 65px;
margin-top: 20px;
}

input{
width: 400px;
height: 45px;
border-radius: 6px;
background-color: #ffffff;
outline: none;
margin: 15px auto;
border:1px solid #232323;
padding: 15px;
font-size: 18px;
margin-left: 70px;
margin-bottom: 25px;
}
.btnSave{
width: 100px;
height: 45px;
border: 1px solid #232323;
border-radius: 6px;
font-size: 18px;
background-color: white;
margin-left: 10px;
}
.btnSave:active{
background-color: green;
color:white;
filter: drop-shadow(5px 5px 10px #000000);
transition: all 0.3s;
cursor: pointer;
}









